@{
    ViewBag.Title = "Confirm";
}

<h2>Поздравляем</h2>

<p>

    Регистрация успешно подтверждена.
    Вы можете войти на сайт.
</p>

@Html.ActionLink("На главную", "Index") <br>
@Html.ActionLink("Войти", "Login", "Account")