@{
    ViewBag.Title = "PasswordRecovery";
}

<h2>Восстановление пароля</h2>
<p>Введите адрес электронной почты, который Вы указали при регистрации.</p>




@using (Html.BeginForm("PasswordRecovery", "Home", FormMethod.Get))
    {
@*@Html.Label("Email")*@
@Html.TextBox("emailAddress")
@*@Html.ValidationMessage("emailAddress")*@
<input type="submit" value="Воостановить пароль" />
}

<br />
<span>@ViewBag.Msg  </span><br>
<br />
@Html.ActionLink("На главную", "Index")